body {
  font-family: Arial, Bold;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  box-shadow: 5px 5px 30px #20202090;
}
.flex {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 20px;
}
h1, h2 {
  margin: 0;
}
.section {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.function {
  margin-bottom: 20px;
}
.function-name {
  font-size: 24px;
  margin-bottom: 10px;
}
.function-description {
  margin-bottom: 20px;
}
.example-container {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  overflow: auto;
}

a {
  color:rgb(31, 100, 228)
}

a:hover {
  color:rgba(31, 100, 228, 0.589)
}

code {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
input[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    position: relative;
    top: 30px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus {
    outline: none;
    background-color: #f2f2f2;
    border-color: #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.copy-button {
  position: relative; /* Добавляем относительное позиционирование для родительского элемента */
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 4px 8px;
  background-color: transparent;
  color: #6272a4;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.copy-button:hover {
  color: #f8f8f2;
}

/* стили для уведомления о копировании текста */
.copy-notification {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;

  /* скрыть элемент до начала анимации */
  opacity: 0;
  visibility: hidden;

  /* добавляем анимацию появления и исчезновения */
  animation-name: fade-in-out;
  animation-duration: 1s;
}

/* анимация появления и исчезновения */
@keyframes fade-in-out {
  0%, 100% {
      opacity: 0;
      visibility: hidden;
  }
  50% {
      opacity: 1;
      visibility: visible;
  }
}

.icon-copy:before {
  content: '\f0c5 ';
  font-family: 'Font Awesome 5 Free';
  font-style: bold;
  font-weight: 900;
}

/* Цветовая схема для highlight.js на черном фоне (насыщенная) */
.hljs {
  display: block;
  background: #00000000;
  color: #a9b7c6;
  padding: 0.5em;
}

.hljs-comment,
.hljs-template_comment,
.hljs-doctype,
.hljs-shebang,
.hljs-regexp,
.hljs-addition,
.hljs-meta {
  color: #808080;
}

.hljs-keyword,
.hljs-template-tag,
.hljs-attribute,
.hljs-literal,
.hljs-built_in,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-function,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-params,
.hljs-attr_selector,
.hljs-pseudo {
  color: #ffc66d;
}

.hljs-string,
.hljs-template-string,
.hljs-symbol,
.hljs-bullet,
.hljs-link_url,
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-attribute .hljs-value {
  color: #ff9580;
}

.hljs-number,
.hljs-meta .hljs-number {
  color: #b5cea8;
}

.hljs-variable,
.hljs-attr,
.hljs-title.class_,
.hljs-title.function_ {
  color: #b4e3fa;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
